<div class="container my-5">
  <h2>投稿者ページ</h2>
</div>

<div class="container my-5">
  <div class="row">
    <% if @user.id == current_user.id %>
    <%= attachment_image_tag @user, :profile_image, :size => '100x100', fallback: "no_image.jpg", class: "profile_image is-rounded" %><br>
      <table class="table col-md-6">
        <tr>
          <td>ユーザーネーム</td>
          <td><strong><%= @user.name %></strong></td>
        </tr>
          <!--ログインユーザー以外は以下を見えなくする-->
        <tr class="col-md-4">
          <td>メールアドレス</td>
          <td><strong><%= @user.email %></strong></td>
        </tr>
      </table>
          <% end %>
  </div>

  <% if @user.id == current_user.id %>
    <%= link_to "編集", edit_user_path(@user), class: "btn btn-primary" %>
  <% end %>
</div>

  <div class="card ml-6">
        <% @user.posts.each do |post| %>
        <div class="list-group">
          <%= attachment_image_tag post, :image, :size => '200x200' %>
            <div class="list-group-item">
              <%= link_to post_path(post) do %>
              <i class="fas fa-book" aria-hidden="true"></i>
                詳細を見る
            <% end %></div>
              <% if @user.id == current_user.id %>
            <div class="list-group-item">
              <%= link_to edit_post_path(post) do %>
                <i class="fas fa-edit"></i>
                投稿を編集する
              <% end %></div>
            <div class="list-group-item">
              <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"} do %>
            <i class="fas fa-trash"></i>
              レシピの削除
              <% end %></div>
        </div>
        <% end %>
  </div>
<% end %>