<div class="container my-5">
  <h2>編集ページ</h2>
</div>

<div class="container">
  <div class="row">
    <%= form_for @post do |f| %>
      <div class="field">
        <%= f.label :cooking_title, "タイトル", class: "label" %><br>
        <%= f.text_field :cooking_title, class: "input" %><br>
      </div><br>

      <div class="field">
        <%= f.label :caption, "作り方", class: "label" %><br>
        <%= f.text_area :caption, class: "textarea" %><br>
      </div><br>

      <div class="field">
        <%= f.label :image, "写真", class: "label" %><br>
        <%= f.attachment_field :image, class: "input" %><br>
      </div><br>

      <%= f.submit '投稿', class: "btn btn-success" %>
    <% end %>
  </div>
</div>